.toggle {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  align-items: center;
  width: 156px;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-top: 32px;
}
