@use "@snack-uikit/figma-tokens-nachos/build/scss/styles-theme-variables" as
  vars;

.container {
  display: flex;
  flex-direction: column;
  gap: vars.$dimension-2m;

  width: 800px;
  padding: vars.$dimension-2m;
  border-radius: vars.$dimension-1m;

  background-color: vars.$sys-neutral-background1-level;
}

.content {
  display: flex;
  flex-direction: column;
  gap: vars.$dimension-3m;
}

.header {
  display: flex;
  gap: vars.$dimension-2m;
  align-items: center;

  height: vars.$dimension-6m;
  padding: vars.$dimension-1m;

  background-color: vars.$sys-neutral-background;

  .crumbs {
    flex: 1;
    align-items: center;
  }

  .right,
  .left {
    display: flex;
    align-items: center;
  }

  .select {
    display: flex;
    align-items: center;

    width: 176px;
    height: vars.$dimension-6m;
    margin: calc(0px - vars.$dimension-1m);
    padding: 0 vars.$dimension-1m;
    border: solid 1px vars.$sys-neutral-decor-default;
    border-top: none;
    border-bottom: none;

    .title {
      @include vars.composite-var(vars.$light-label-m);

      color: vars.$sys-neutral-text-support;
    }
  }
}

.label {
  @include vars.composite-var(vars.$light-label-l);

  display: flex;
  gap: vars.$dimension-050m;
  align-items: center;
  color: vars.$sys-neutral-text-main;
}

.block {
  display: flex;
  gap: vars.$dimension-3m;
}

.tabBar {
  justify-content: space-between;
}
